/* some style */

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400|Poppins:400");

html {
    font-size: 100%;
} /*16px*/

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #0c2c40;
    margin: 3% 5%;
}

p {
    margin-bottom: 1.15rem;
    color: #444;
}

.topPage {
    height: 55vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #f2aa8085;
    background-image: url("http://seanhalpin.io/assets/img/content/home/masthead/land.svg");
}
.pageDivider {
    background-color: #eee;
    width: 60%;
    margin-left: 20%;
    height: 1px;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 2.75rem 2rem 1.05rem 2rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small,
.text_small {
    font-size: 0.8em;
}

section {
    width: 100%;
}

blockquote {
    color: #444;
    font-size: 1.56rem;
}
