/* some style */

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400|Poppins:400");

html {
    font-size: 100%;
} /*16px*/

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #0c2c40;
    margin: 3% 5%;
}

p {
    margin-bottom: 1.15rem;
}

.siteTitle {
    padding: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small,
.text_small {
    font-size: 0.8em;
}

section {
    width: 100%;
}
